body {
    background-image: url("../img/home-background3.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: 200px auto;
    padding: 25px;
}

.mytabs input[type="radio"] {
    display: none;
}

.mytabs label {
    padding: 25px;
    background: #e2e2e2;
    font-weight: bold;
    border: 0.5px solid rgb(204, 146, 146);
    border-bottom: none;
}

.mytabs .tab {
    width: 100%;
    padding: 20px;
    background: rgba(211, 31, 31, 0.4);
    order: 1;
    display: none;
}

.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type = 'radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: rgba(211, 31, 31, 0.4);
}

.mytabs label:hover{
    cursor: pointer;
    background: rgb(170, 1, 1);
}


/*--------------------------form styling-----------------------------------*/


.container-search {
    max-width: 1500px;
    width: 100%;
    background:rgb(255, 255, 255);
    padding: 25px 30px;
    padding-bottom: -5px;
    border-radius: 5px;
    margin-top: 15px;
}
.container {
    max-width: 1500px;
    width: 100%;
    background:rgb(255, 255, 255);
    padding: 25px 30px;
    padding-bottom: -5px;
    border-radius: 5px;
}

.container .title {
    font-size: 30px;
    font-weight: 600;
    margin-left: 640px;
    
}

.container-search .title {
    font-size: 30px;
    font-weight: 600;
    margin-left: 610px;
    
}

.container form .order-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;

}

form .order-details .input-box{
    margin-bottom: 15px;
    width: calc(40% / 2 - 20px);
}


form .order-details .input-box details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}


form .order-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 10px;
    font-size: 13px;
    border-bottom-width: 2px;
    transition: all 0.1s ease;
}

form .order-details .input-box input:focus, 
form .order-details .input-box input:valid{
    border-color: black;
    border: 2px solid black;
}

form .button{
    height: 45px;
    margin: 45px 630px;
}

form .button input{
    height: 100%;
    width: 250px;
    outline: none;
    border: 1px solid rgb(170, 1, 1);
    font-size: 18px;
    font-weight: 800;
    border-radius: 5px;
    letter-spacing: 1px;
    color:rgb(218, 71, 71)
}

form .button input:hover{
    background: rgb(170, 1, 1);
    color: white;
    cursor: pointer;
    
}

@media (max-width: 584px) {
    .container{
        max-width: 100%;
    }
    form .order-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
}

/*---------------------table styling-------------------------*/

.table-container{
    background-color: white;
    padding-bottom: 2rem;
    border-radius: 4px;
    margin-top: 1rem;
}

table{
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 50px;
    box-shadow: 0px 5px 10px rgb(146, 146, 146);
    text-align: left;
    overflow: hidden;

}


thead{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(138, 138, 138);
    color: rgb(255, 255, 255);
}

th{
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: 1200;

}

td{
    padding: 1rem 2rem;
}

.amount{
    text-align: right;
}

.head-row{
    background-color: dark rgb(163, 163, 163);
    color: white;
    font-weight: 700;
}

.body-row{
    background-color: white;
}

tr:nth-child(even){
    background-color: rgb(236, 236, 236)
}

.body-row:hover{
    background-color: rgb(107, 169, 194);
    color: rgb(255, 255, 255);
}

caption{
    padding: 1rem 2rem;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    font-weight: 900;
}

.edit:hover{
    background-color: rgb(0, 122, 41);
    cursor: pointer;
    color: black;
    font-weight: 900;
}

.delete:hover{
    background-color: rgb(171,1,1);
    cursor: pointer;
    color: black;
    font-weight: 900;
}

.edit, .delete{
    border: 1px solid grey;
}