
/* ---------------------------GENERAL STYLING------------------------------*/
body {
    background-image: url("../img/home-background2.png");
    background-position: center center center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}

/* ---------------------------HOME PAGE STYLING-----------------------------------*/

.home-page{
    justify-content: center;
    text-align: center;
    margin-top: 30rem;
}

.portal-button{
    margin: auto;
    border: 3px solid rgb(190, 0, 0);
    padding: .2em 1.4em;
    border-radius: 0.2em;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: rgb(190, 0, 0);
    font-size: 2em;
    text-align: center;
    transition: all 0.2s;
    background-color: transparent;
}

.portal-button:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(190, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    cursor:pointer;
  }

/* ------------------------DATABASE PAGE STYLING---------------------------------*/

