
/* ---------------------------GENERAL STYLING------------------------------*/

html {
    height: 110%;
    margin: auto;
}

/* ---------------------------HOME PAGE STYLING-----------------------------------*/

.home-page{
    position: absolute;
    background-position: center;
    background-size: cover;
    background-image: url("../img/home-background2.png");
    background-color: rgb(198, 206, 217);
    background-repeat: no-repeat;
}



.portal-button{
    margin: 100px, 10px;
    width: auto;
    position: absolute;
    justify-content: center;
    left: 590pt;
    top: 340pt;
    display: inline-block;
    white-space: nowrap;
    border: 3px solid rgb(190, 0, 0);
    padding: .2em 1.4em;
    border-radius: 0.2em;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: rgb(190, 0, 0);
    font-size: 2em;
    text-align: center;
    transition: all 0.2s;
    background-color: transparent;
}

.portal-button:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(190, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    cursor:pointer;
  }

/* ------------------------DATABASE PAGE STYLING---------------------------------*/

