<!DOCTYPE html>
<html>
<head>
    <title>Create Account</title>
    <link rel="stylesheet" href="../static/css/main.css?v=1.0.2">
</head>
<div>
<body>

    <form class="create-form">
        <div class="container">
            <h1 class="home-title">Create Account</h1>

            <section class="personal">
            
            <h2> Personal Information </h2>
            <table>
            <tr>
                <td>
                    <label for="first-name"> First Name </label>
                    <input type="text" placeholder="Enter Your First Name" name="first-name" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="last-name"> Last Name </label>
                    <input type="text" placeholder="Enter Your Last Name" name="last-name" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="email"> Email </label>
                    <input type="text" placeholder="Enter Your Email" name="email" required>
                 </td>
            </tr>
            <tr>
                <td>
            <label for="phone-number"> Phone Number </label>
            <input type="phone-number" placeholder="Enter Your Phone Number" name="phone-number" required>
            </td>
                </tr>
             </table>
            </section>

            <section class="address">
            <h2> Address Information </h2>

            <table>
                <tr>
                    <td>
                        <label for="city"> City </label>
                        <input type="text" placeholder="Enter Your City" name="city" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="street-name"> Street Name </label>
                        <input type="text" placeholder="Enter Your Street Name" name="street-name" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="street-number"> Street Number </label>
                        <input type="number" placeholder="Enter Your Street Number" name="street-number" required>
                    </td>
                </tr>
            </table>
             </section>
        </div>
    </form>

        <a class="button2" href="{{ url_for('order') }}">Save Account</a>
</body>
</div>
</html>