<!DOCTYPE html>
<html>
<head>
    <title>Add foods</title>
    <link rel="stylesheet" href="../static/css/main.css?v=1.0.2">
</head>
<div>
<body>

    <h1 class="home-title">foods Management Page</h1>


    <section class="orders">
        <center>
        <h2 class="home-caption">Add foods</h2>
        <table>
        <tr>
            <td>
                <label for="cuisines"> Cuisines </label>
                <select name="cuisines" id="cuisines">
                    <option value="italian">Italian</option>
                    <option value="polish">Polish</option>
                    <option value="chinese">Chinese</option>
                    <option value="japanese">Japanese</option>
                    <option value="indian">Indian</option>
                    <option value="mexican">Mexican</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>
                <label for="food-category"> Food Category </label>
                <select name="category" id="category">
                    <option value="appetizers">Appetizers</option>
                    <option value="salads">Salads</option>
                    <option value="main-dish">Main foods</option>
                    <option value="sides">Sides</option>
                    <option value="desserts">Desserts</option>
                    <option value="drinks">Drinks</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>

                    <label for="food-name"> food description </label>
                    <input type="text" placeholder="description" name="food-name" required>
 
            </td>
     	</tr>
        <tr>
            <td>

                    <label for="food-name"> food calories </label>
                    <input type="text" placeholder="calories" name="food-name" required>
 
            </td>
	</tr>
        <tr>
             <td>

                    <label for="food-name"> food price </label>
                    <input type="text" placeholder="price" name="food-name" required>
 
            </td>
        </tr>

         </table>
        </section>
      </center>



        <a class="button1" href="/">Save</a>
    <a class="button1" href="/">Cancel</a>

	<section>
        <h2 class="home-caption">Update/Edit Food </h2>
	<center>
	<table>
          <tr>
            <td>

                    <label for="food-search"> Lookup </label>
                    <input type="text" placeholder="food name/id or description" name="food-search" required>
 
            </td>
         </tr>
        </table>
	</center>
	</section>
        <br> </br> 
        <a class="button1" href="/">Search</a> 


</body>
</div>
</html>