<!DOCTYPE html>
<html>
<head>
    <title>Global Foods</title>
    <link rel="stylesheet" href="../static/css/database.css">
</head>
<body>
    <div class="page-background">
        <div class="mytabs">

            <input type="radio" id="orders" name="mytabs" checked="checked">
            <label for="orders">Orders</label>

            <div class="tab">
                <div class ="container">
                    <div class = "title">Add New Order</div>
                    <form action="#">
                        <div class="order-details">
                            <div class="input-box">
                                <span class="details">Customer ID</span>
                                <input type="text" placeholder="Enter The customer ID" required>
                            </div>
                            <div class="input-box">
                                <span class="details">Food</span>
                                <input type="text" placeholder="Enter The Food" required>
                            </div>

                            <div class="input-box">
                                <span class="details">Progress</span>
                                <input type="text" placeholder="Enter The Order Progress" required>
                            </div>

                            <div class="input-box">
                                <span class="details">Order Date</span>
                                <input type="text" placeholder="Enter The Order Date" required>
                            </div>

                            <div class="input-box">
                                <span class="details">Total Price</span>
                                <input type="text" placeholder="Enter The total price" required>
                            </div>
                        </div>
                        <div class="button">
                            <input type="submit" value="Add">
                        </div>
                    </form>
                </div>
                <div class="table-container">
                    <table>
                        <caption>Order List</caption>
                        <thead>
                            <tr class="head-row">
                                <th>Order ID</th>
                                <th>Customer ID</th>
                                <th>Customer Name</th>
                                <th>Customer Address ID</th>
                                <th>Order Details</th>
                                <th>Order Progress</th>
                                <th>Order Date</th>
                                <th>Total Price</th>
                                <th>Edit Order</th>
                                <th>Delete Order</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="body-row">
                                <td>1</td>
                                <td>1</td>
                                <td>Alfred Clark</td>
                                <td>1</td>
                                <td>Orange Juice  x1</td>
                                <td class="progress-new">New</td>
                                <td>02/12/2021</td>
                                <td class="amount">$41.00</td>
                                <td class="edit">Edit</td>
                                <td class="delete">Delete</td>
                            </tr>
                            <tr class="body-row">
                                <td>2</td>
                                <td>2</td>
                                <td>Lisa Young</td>
                                <td>3</td>
                                <td>Mangolian Beef  x2</td>
                                <td class="progress progress-new">Preparing</td>
                                <td>02/09/2021</td>
                                <td class="amount">$13.50</td>
                                <td class="edit">Edit</td>
                                <td class="delete">Delete</td>
                            </tr>
                            <tr class="body-row">
                                <td>3</td>
                                <td>3</td>
                                <td>Ali Omer</td>
                                <td></td>
                                <td>Green Salad  x3</td>
                                <td class="progress progress-new">Delivered</td>
                                <td>01/23/2021</td>
                                <td class="amount">$25.50</td>
                                <td class="edit">Edit</td>
                                <td class="delete">Delete</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <input type="radio" id="order-items" name="mytabs">
            <label for="order-items">Order Items</label>

            <input type="radio" id="payments" name="mytabs">
            <label for="payments">Payments</label>

            <input type="radio" id="customers" name="mytabs">
            <label for="customers">Customers</label>

            <input type="radio" id="addresses" name="mytabs">
            <label for="addresses">Addresses</label>

            <input type="radio" id="foods" name="mytabs">
            <label for="foods">Foods</label>
            
        </div>
    </div>
</body>
</html>