<!DOCTYPE html>
<html>
<head>
    <title>Global Foods</title>
    <link rel="stylesheet" href="../static/css/database.css">
</head>
<body>

    <div class="mytabs">

        <input type="radio" id="orders" name="mytabs" checked="checked">
        <label for="orders">Orders</label>

        <div class="tab">
            <h2>Order List</h2>
            <p>New, current, and past orders will show here.</p>

            <div class ="container">
                <div class = "title">Add New Order</div>
                <form action="#">
                    <div class="order-details">
                        <div class="input-box">
                            <span class="details">Customer</span>
                            <input type="text" placeholder="Enter The customer name" required>
                        </div>

                        <div class="input-box">
                            <span class="details">Address</span>
                            <input type="text" placeholder="Enter The customer's address" required>
                        </div>

                        <div class="input-box">
                            <span class="details">Food</span>
                            <input type="text" placeholder="Enter The Food" required>
                        </div>

                        <div class="input-box">
                            <span class="details">Quantity</span>
                            <input type="text" placeholder="Enter The customer name" required>
                        </div>

                        <div class="input-box">
                            <span class="details">Price</span>
                            <input type="text" placeholder="Enter The total price" required>
                        </div>
                    </div>
                    <div class="button">
                        <input type="submit" value="Add">
                    </div>
                </form>
            </div>


        </div>



        <input type="radio" id="customers" name="mytabs">
        <label for="customers">Customers</label>

        <div class="tab">
            <h2>Customers</h2>
            <p>Customers will show here</p>
        </div>

        
        <input type="radio" id="addresses" name="mytabs">
        <label for="addresses">Addresses</label>

        <div class="tab">
            <h2>Addresses</h2>
            <p>Customers Addresses will show here</p>
        </div>


        <input type="radio" id="foods" name="mytabs">
        <label for="foods">Foods</label>

        <div class="tab">
            <h2>Foods</h2>
            <p>Food menu will show here</p>
        </div>

    </div>

</body>
</html>